PORT=
GOOGLE_CLIENT_ID= ""
GOOGLE_CLIENT_SECRET= ""
GOOGLE_CALLBACK_URL= ""
MONGODB_URI= ""
JWT_SECRET= ""
SENDER_EMAIL= ""
EMAIL_PASSWORD= ""
CLOUDINARY_CLOUD_NAME= ""
CLOUDINARY_API_KEY= ""
CLOUDINARY_API_SECRET= ""
PAYMENT_REDIRECT_URL= ""

REDIS_URL= ""

DB_HOST= "" 
DB_PORT= ""
DB_USERNAME= ""
DB_PASSWORD= ""
DB_NAME= ""
FLW_URL= "https://api.flutterwave.com/v3"
FLW_SECRET_KEY= ""
PAYSTACK_URL= 'https://api.paystack.co'
PAYSTACK_SECRET_KEY= ""
FUNDING_PROVIDER= ""


FLW_SECRET_KEY= ""
FLW_PUBLIC_KEY= ""
FLW_ENCRYPTION_KEY= ""
PAYMENT_REDIRECT_URL = "google.com"

TWILIO_ACCOUNT_SID= ""
TWILIO_AUTH_TOKEN= ""
TWILIO_PHONE_NUMBER= 
SMS_PROVIDER= ""
FCM_CREDENTIALS_JSON={"type":"service_account","project_id":"your-project","private_key_id":"abc123","private_key":"-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BA...\\n-----END PRIVATE KEY-----\\n","client_email":"firebase-adminsdk@your-project.iam.gserviceaccount.com","client_id":"123456789"}


# AWS_REGION=eu-west-1
AWS_REGION= us-east-1
AWS_ACCESS_KEY_ID= ""
AWS_SECRET_ACCESS_KEY= ""
SQS_ENDPOINT=http://sqs.us-east-1.localhost.localstack.cloud:4566
QUEUE_SMS=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/sms-queue
QUEUE_EMAIL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/email-queue
# QUEUE_PUSH=http://localhost:9324/000000000000/push-queue

EMAIL_PROVIDER= ""
EMAIL_USER= ""
EMAIL_PASS= ""

